
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SemPermissao</title>
</head>
<body>
    <fieldset>
        <legend>Permissão</legend>

        <div class="editor-label">
            <b style=" font-size: 16px; color: Red;">- Seu perfil não tem permissão para acessar essa pagina.</b>
        </div>
    </fieldset>
    <a href='javascript:history.go(-1)'>Voltar</a>
</body>
</html>
